<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/style.css" rel="stylesheet"> 
        
    </head>
    <body>
        {{>header}}

        <p>Use this to know the weather</p>
         <form>
            <input placeholder="Insert Location" type="text" id="country" name="country">
            <input placeholder="Insert city" type="text" id="city" name="city">
            <button>Search</button>
        </form>

        <p id="error" style="color:red"></p>
        <p id="success" style="color: green"></p>

        {{>footer}}
    </body>
    <script src="./js/app.js"></script>
</html>
