<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/style.css" rel="stylesheet"> 
        <script src="/js/app.js"></script>
    </head>
    <body>
        {{>header}}
        <h3>{{forecast}}</h3>
        <h6>{{location}}</h6>
        {{>footer}}
    </body>
</html>
